<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + TS</title>
  </head>
  <body hx-boost="true">
    <header class="container" hx-get="/api/nav" hx-trigger="load">
      <nav>
        <ul>
          <li><span>Axum + HTMX ❤️</span></li>
        </ul>
      </nav>
    </header>

    <main class="container">
      <div hx-get="/api/cats/form" hx-trigger="load"></div>
      <h2>Cat List</h2>
      <table
        hx-get="/api/cats"
        hx-trigger="load, update-cats from:body"
      ></table>
    </main>
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
    <link rel="stylesheet" href="src/style.css" />
  </body>
</html>
